@import "~components/UIElements/Scss/colors";

.inputTextFieldContainer{
    display: flex;
    flex: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center
}

.inputField{
    width:100%;
    border: none;
    border-bottom: 1px solid black;
    resize: none;
    outline: none;
    margin-left:8px
}

