
$white:                 #FFFFFF;
$WhiteSmoke: 	        #F5F5F5;
$FloralWhite: 	        #FFFAF0;
$Snow: 	                #FFFAFA;

$black:                 #000000;

$Gray: 	                #808080;
$DimGray: 	            #696969;
$LightSlateGray: 	    #778899;
$SlateGray: 	        #708090;
$LightGray: 	        #D3D3D3;

$blue:                  #0000FF;
$MediumBlue: 	        #0000CD;
$MidnightBlue: 	        #191970;
$Navy: 	                #000080;
$SlateBlue: 	        #6A5ACD;
$RoyalBlue: 	        #4169E1;
$DeepSkyBlue: 	        #00BFFF;
$Turquoise: 	        #40E0D0;
$SkyBlue: 	            #87CEEB;
$PowderBlue: 	        #B0E0E6;

$Green: 	            #008000;
$ForestGreen: 	        #228B22;
$DarkGreen:  	        #006400;
$Olive: 	            #808000;
$OliveDrab: 	        #6B8E23;
$LawnGreen: 	        #7CFC00;
$Lime: 	                #00FF00;
$LimeGreen:	            #32CD32;
$MediumSeaGreen:        #3CB371;
$MediumSpringGreen:     #00FA9A;
$PaleGreen: 	        #98FB98;
$LightGreen: 	        #90EE90;


$Yellow: 	            #FFFF00;
$YellowGreen: 	        #9ACD32;
$Gold: 	                #FFD700;
$GoldenRod: 	        #DAA520;
$DarkGoldenRod: 	    #B8860B;

$Red: 	                #FF0000;
$DarkRed:               #8B0000;
$Maroon: 	            #800000;
$FireBrick: 	        #B22222;
$Tomato: 	            #FF6347;
$IndianRed:  	        #CD5C5C;


$Brown: 	            #A52A2A;
$SaddleBrown: 	        #8B4513;
$Sienna: 	            #A0522D;
$Peru: 	                #CD853F;
$SandyBrown: 	        #F4A460;
$RosyBrown: 	        #BC8F8F;
$BurlyWood:         	#DEB887;
$Tan:                	#D2B48C;
$Wheat:             	#F5DEB3;
$Khaki:              	#F0E68C;

$Orange: 	            #FFA500;
$OrangeRed: 	        #FF4500;

$Pink: 	                #FFC0CB;
$Plum: 	                #DDA0DD;
$Thistle: 	            #D8BFD8;
$LightCoral: 	        #F08080;
$Orchid:            	#DA70D6;
$HotPink: 	            #FF69B4;
$Magenta: 	            #FF00FF;
$DarkMagenta:        	#8B008B;
$Fuchsia:            	#FF00FF;

$Purple: 	            #800080;
$RebeccaPurple: 	    #663399;
$Indigo:            	#4B0082;
$PaleVioletRed: 	    #DB7093;
$Orchid:            	#DA70D6;
$MediumOrchid: 	        #BA55D3;

